<span style="font-size: 30px;">if else statements in python</span>

In [2]:
x = 50

y = 40

if x<=y:
    print('ok ,plz give me result')
    if x!= y:
        print('y is greater than x')
    else:
        print('y == x')
elif x>y:
    print('ok, plz give me result')
    if x != y:
        print('x is greater than y')
    else:
        print('y==x')
else:
    print('code does not work properly')

ok, plz give me result
x is greater than y

In [3]:
num = float(input('enter any number'))

if num % 2== 0 and num % 5 == 0:
    print('divisible by 5 and 2')
elif num % 2==0 or num % 5 ==0 :
    print('number is divisible, here result is')
    if num % 2== 0:
        print('it only divisible by 2')
    else:
        print('it only divisible by 5')
else:
    print('the number is not divisible by 5 or 2')

enter any number 5

number is divisible, here result is
it only divisible by 5

In [4]:
amount = 0
unit = float(input('plz give unit value'))

if unit <= 100:
    print('no charge')
elif unit > 100 and unit <=200:
    amount = unit * 5
    print('your electricity bill is {} Rs'.format(amount))
elif unit >200:
    amount = unit * 10 + 500
    print('your electricity bill is {} Rs'.format(amount))
else:
    print('contuct with authority')

plz give unit value 300

your electricity bill is 3500.0 Rs

<span style="font-size: 30px;">Loops statements in python</span>

In [11]:
n='python'
for x in n:
    print(x)

p
y
t
h
o
n

In [12]:
data='aiquest'
for x in range(len(data)-1,-1,-1):
    print(data[x], end='')

tseuqia

In [13]:
n=6
for x in range(1,n+1):
    print(' '*(n-x),end='')
    print('{} '.format(n)*x)

     6
    6 6
   6 6 6
  6 6 6 6
 6 6 6 6 6
6 6 6 6 6 6

In [14]:
l=['s','h','a','h','a','d','a','t']
for x in (l):
    print(x, end='')

shahadat

In [15]:
n=[1,2,3,4,5,6,7,8]
total= 0
for x in n:
    total +=x
print(total)

36

In [33]:
n=7
total=0
for x in range(1,n):
    m1=x*n
    total +=m1
print(total)

147

In [34]:
n=str(27956240710)
for x in range(len(n)-1,-1,-1):
    print(x, end='')

109876543210

In [45]:
n= 100
for x in range(n,9,-1):
    print('-{}'.format(x))

-100
-99
-98
-97
-96
-95
-94
-93
-92
-91
-90
-89
-88
-87
-86
-85
-84
-83
-82
-81
-80
-79
-78
-77
-76
-75
-74
-73
-72
-71
-70
-69
-68
-67
-66
-65
-64
-63
-62
-61
-60
-59
-58
-57
-56
-55
-54
-53
-52
-51
-50
-49
-48
-47
-46
-45
-44
-43
-42
-41
-40
-39
-38
-37
-36
-35
-34
-33
-32
-31
-30
-29
-28
-27
-26
-25
-24
-23
-22
-21
-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10

In [74]:
for n in range(2,6):
    for i in range(2,n):
        if n % i == 0:
            break
    
        print(i)

2
2
3
4

In [3]:
n= int(input('enter marks'))

if n<=24 :
    print('you do not pass the exam')
elif n <=44 :
    print(''' you get - E
    This is not upto mark, you should concentrate on your study''')
elif n <= 49 :
    print(''' you get - D
plz concentrate on your study''')
elif n <= 59 :
    print(''' you get - C
    need more improvement''')
elif n <= 79 :
    print(' you get - B')
elif n <= 89 :
    print ('you get - A')
else :
    print('you get- A+')

enter marks 12

you do not pass the exam

In [9]:
t= int(input('enter your total class number'))
n=float(input('enter your school attendance'))

p= (n/t)*100
print('your class attendance is {:.2f} %'.format(p))

if p <= 74 :
    print(' you will not allowed to sit in exam')
else :
    print ('plz collect admit card')

enter your total class number 45
enter your school attendance 35

your class attendance is 77.78 %
plz collect admit card

In [13]:
n = int(input('enter your first number'))
a = int(input('enter your 2nd number'))
b = int(input('enter your 3rd number'))

if n < a :
    if a < b :
        print('{} is a large number'.format(b))
    else :
        print('{} is a large number'.format(a))
elif a < n :
    if n < b :
        print('{} is a large number'.format(b))
    else :
        print('{} is a large number'.format(n))

enter your first number 33
enter your 2nd number 44
enter your 3rd number 55

55 is a large number

## Nested loop

In [37]:
n = 4
for x in range(1,n+1):
    print(' '*(n-x), end= ' ')
    for y in range(1,x+1):
        print('# '*x)
        break

    #
   # #
  # # #
 # # # #

In [2]:
num= [1,2,3,4]

#outer
for ele in num:
    #inner
    index=0
    while index < len(num) :
        print(num[index], end=' ')
        index +=1
    print('\n')

1 2 3 4

1 2 3 4

1 2 3 4

1 2 3 4

In [4]:
n= 5
for x in range(0,n):
    print('*'*n ,)

*****
*****
*****
*****
*****

In [14]:
for x in range(1,n+1):
    for y in range(1, x+1):
        print('*',end='')
    print()

*
**
***
****
*****

In [21]:
for x in range(1,n+1):
    for y in range(1,x+1):
        print(y, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [29]:
for x in range(n,0,-1):
    for y in range(x,0,-1):
        print('*', end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [57]:
for x in range(1,n+1):
    
    for y in range(1,n+1):
        print(y*x, end=' ')
    print()

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

In [86]:
for x in range(1,n+1):
    print(' '*(n-x),end=' ')
    for y in range(1,x+1):
        print('*', end=' ')
    print()

     *
    * *
   * * *
  * * * *
 * * * * *

In [84]:
for x in range(1,n+1,+2):
    print(' '*(n-x),end='')
    print('{} '.format(n)*x)

    5
  5 5 5
5 5 5 5 5

In [88]:
for x in range(n,1,-1):
    print(' '*(n-x),end=' ')
    for y in range(x,1,-1):
        print('*', end=' ')
    print()

 * * * *
  * * *
   * *
    *

In [29]:
n=['a','b','c','d'] 
for x in range(1,len(n)+1):
    
    for y in range(x):
        print(n[y], end='')
    print()

a
ab
abc
abcd

In [5]:
n=50
for x in range(2,50):
    for y in range(2,x):
        if x % y == 0:
            break
    else:
        print(x)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [6]:
n=6
for x in range(1,n+1):
    for y in range(1, x+1):
        print(x, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6

In [13]:
n = 5
for x in range(1,n+1):
    print(' '*(n-x), end = ' ')
    for y in range(1,x+1):
        print('*', end = ' ')
    print()
for r in range(n,1,-1):
    print(' '*(n-(r-1)), end =' ')
    for t in range(r,1,-1):
        print('*', end = ' ')
    print()

     *
    * *
   * * *
  * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [16]:
n = 5
for r in range(n,1,-1):
    print(r)
    print(' '*(n-(r-1)), end =' ')
    for t in range(r,1,-1):
        print('*', end = ' ')
    print()

5
  * * * *
4
   * * *
3
    * *
2
     *